.axis path, .axis line {
  fill: none;
  shape-rendering: crispedges;
  stroke: #000000;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.y1 {
  fill: white;
  stroke: orange;
  stroke-width: 1.5px;
}

.y2 {
  fill: white;
  stroke: red;
  stroke-width: 1.5px;
}

.y3 {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}